/* Cacher le bouton pause en mode PAUSE */
#pause-icon {
  display: none;
}

/* Afficher le bouton pause en mode PLAY */
.playing #pause-icon {
  display: inline;
}

/* Cacher le bouton play en mode PLAY */
.playing #play-icon {
  display: none;
}

/* Changer le style du bouton like */
#like.liked {
  background-color: green;
}

/* Sliders */
input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  border-radius: 5px;
  background: lightgray;
  background-image: linear-gradient(#000000, #000000);
  background-size: var(--progress-percentage) 100%;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

/* Le curseur du slider */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  background: url(Icône/poing.svg) 100%;
  background-size: contain;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
  rotate: -18deg;
}

/* Le curseur du slider au survol */
input[type="range"]::-webkit-slider-thumb:hover {
  background: url(Icône/poing.svg);
  background-size: contain;
}

/* La zone du slider */
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

#cover {
  max-width: 80px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
  position: absolute;
  z-index: 2;
  transform: translate(80px, 70px);
}

body {
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-size: 474px 842px;
  max-height: 842px;
  max-width: 474px;
}

html {
  filter: grayscale(100%);
}

li {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 0px;
  align-items: center;
  background-color: gray;
  border-radius: 10px;
  box-shadow: hsla(54, 19%, 56%, 0.5) 8px 8px 4px;
}

li h4,
li p {
  margin: 0;
  max-width: 100px;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  max-width: 400px;
  gap: 30px;
}

button {
  background-color: transparent;
  border: 0;
}

#yeux {
  width: 80px;
  display: flex;
  margin-bottom: 20px;
}

#playpause {
  max-height: 80px;
}

#prevnext {
  max-height: 60px;
}

.playlist-cover {
  max-width: 100px;
  border-radius: 10px;
}

h3,
p {
  text-align: center;
  font-family: "Luckiest Guy";
  color: rgb(255, 255, 255);
  -webkit-text-stroke: #000000;
  -webkit-text-stroke-width: 1px;
  margin-bottom: 0;
}

p {
  font-family: "Pacifico";
  color: white;
  -webkit-text-stroke: #000000;
  -webkit-text-stroke-width: 1px;
  margin-top: 0;
  margin-bottom: 20px;
}

#bruit {
  position: absolute;
  z-index: 100;
  inset: 0;
  pointer-events: none;
  height: 842px;
  width: 474px;
}

/*  position: fixed;
z-index: 100;
inset: 0;
pointer-events: none;
flex-wrap: wrap;
*/
h4 {
  font-family: "Luckiest Guy";
  padding-top: 10px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: #000000;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 1;
}

p.track-artist {
  font-family: "Pacifico";
  color: white;
  -webkit-text-stroke: #000000;
  -webkit-text-stroke-width: 1px;
  font-size: 13px;
  font-weight: 400;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  --progress-percentage: 0%;
  position: relative;
  width: 260px;
  height: 260px;
}

svg.spiral {
  width: 260px;
  height: 260px;
}

.moving-image {
  position: absolute;
  width: 40px;
  height: 40px;
  /* transform-origin: left center;
  transform: translate(-10px, 15px); */
  /* Define the animation path */
  offset-path: path(
    "M176.637 127.709C176.803 129.853 176.91 132.007 176.958 134.169C176.886 136.343 176.754 138.52 176.562 140.698C176.249 142.876 175.874 145.048 175.439 147.217C174.881 149.37 174.263 151.511 173.585 153.642C172.786 155.743 171.927 157.827 171.008 159.892C169.972 161.914 168.878 163.912 167.726 165.885C166.46 167.802 165.139 169.687 163.763 171.54C162.279 173.325 160.742 175.072 159.154 176.781C157.465 178.408 155.729 179.992 153.944 181.532C152.068 182.979 150.148 184.377 148.184 185.726C146.14 186.97 144.057 188.161 141.936 189.297C139.745 190.32 137.522 191.284 135.266 192.189C132.953 192.973 130.614 193.694 128.25 194.353C125.841 194.883 123.413 195.348 120.966 195.747C118.489 196.012 116.001 196.209 113.501 196.339C110.985 196.33 108.466 196.252 105.943 196.105C103.419 195.817 100.899 195.46 98.3833 195.032C95.8826 194.464 93.3936 193.826 90.9162 193.118C88.4699 192.272 86.043 191.356 83.6356 190.371C81.2748 189.25 78.9412 188.063 76.6348 186.808C74.3903 185.422 72.1806 183.972 70.0055 182.458C67.9072 180.82 65.8509 179.121 63.8365 177.361C61.9129 175.485 60.0381 173.553 58.2122 171.566C56.4902 169.471 54.8234 167.326 53.2118 165.13C51.7164 162.839 50.2818 160.503 48.9082 158.123C47.6617 155.66 46.4813 153.159 45.3668 150.62C44.3891 148.012 43.4817 145.374 42.6447 142.704C41.9524 139.981 41.3341 137.236 40.7898 134.467C40.3964 131.66 40.0797 128.839 39.8398 126.003C39.7554 123.145 39.7495 120.282 39.8221 117.412C40.0529 114.538 40.3632 111.667 40.7528 108.798C41.3015 105.943 41.9294 103.099 42.6367 100.267C43.5017 97.4658 44.445 94.6848 45.4665 91.9238C46.6426 89.2119 47.8949 86.5288 49.2234 83.8745C50.7014 81.2865 52.2525 78.7358 53.8767 76.2225C55.6433 73.7921 57.4791 71.4073 59.3839 69.0681C61.4223 66.8277 63.5249 64.6407 65.6917 62.5069C67.9812 60.4871 70.3292 58.5278 72.7356 56.6291C75.2523 54.858 77.8209 53.1541 80.4412 51.5173C83.158 50.0207 85.9192 48.597 88.7249 47.2463C91.6116 46.0467 94.5347 44.9252 97.4943 43.8816C100.518 42.9984 103.57 42.1974 106.65 41.4785C109.776 40.9274 112.922 40.4617 116.086 40.0813C119.278 39.8741 122.48 39.7546 125.691 39.7226C128.912 39.8672 132.132 40.1005 135.351 40.4225C138.56 40.9224 141.76 41.5112 144.949 42.1887C148.108 43.0432 151.247 43.9855 154.366 45.0157C157.435 46.2196 160.475 47.5093 163.485 48.8847C166.426 50.4286 169.327 52.0551 172.19 53.7641C174.965 55.6342 177.691 57.5826 180.369 59.6093C182.942 61.7876 185.457 64.0388 187.915 66.3632C190.251 68.8275 192.522 71.3586 194.727 73.9566C196.794 76.6811 198.789 79.4653 200.711 82.3092C202.48 85.2645 204.171 88.2715 205.782 91.3301C207.228 94.4835 208.589 97.6798 209.865 100.919C210.966 104.235 211.977 107.584 212.898 110.967C213.635 114.408 214.278 117.872 214.828 121.359C215.187 124.884 215.45 128.422 215.616 131.973C215.588 135.54 215.462 139.11 215.238 142.683C214.817 146.25 214.298 149.809 213.681 153.359C212.868 156.883 211.957 160.387 210.949 163.873C209.748 167.309 208.451 170.716 207.059 174.093C205.479 177.4 203.807 180.666 202.042 183.892C200.098 187.027 198.065 190.112 195.945 193.146C193.655 196.069 191.282 198.931 188.827 201.734C186.214 204.406 183.525 207.009 180.761 209.543C177.853 211.929 174.877 214.238 171.833 216.469C168.661 218.537 165.43 220.519 162.139 222.416C158.739 224.135 155.288 225.763 151.787 227.299C148.197 228.645 144.566 229.894 140.895 231.045C137.156 231.997 133.386 232.847 129.588 233.595C125.742 234.136 121.879 234.572 117.997 234.902C114.091 235.02 110.178 235.031 106.259 234.935C102.339 234.624 98.4247 234.205 94.5154 233.677C90.6288 232.935 86.7595 232.085 82.9074 231.128C79.1017 229.958 75.3251 228.683 71.5776 227.303C67.8999 225.714 64.2629 224.024 60.6666 222.231C57.1631 220.238 53.7115 218.148 50.3118 215.959C47.0269 213.581 43.8047 211.111 40.6452 208.55C37.6214 205.811 34.6704 202.986 31.7922 200.077C29.0692 197.006 26.4283 193.858 23.8696 190.632C21.4839 187.262 19.1889 183.824 16.9844 180.317C14.969 176.685 13.0516 172.995 11.2323 169.247C9.61586 165.394 8.10382 161.493 6.69621 157.546C5.50295 153.516 4.41928 149.45 3.4452 145.348C2.69451 141.188 2.05731 137.004 1.53358 132.796C1.2397 128.554 1.06183 124.301 1 120.037C1.17174 115.763 1.46068 111.492 1.86681 107.222C2.50744 102.969 3.26502 98.7305 4.13955 94.5067C5.24668 90.3252 6.4691 86.1713 7.8068 82.045C9.37235 77.9866 11.0501 73.9684 12.8401 69.9905C14.8503 66.1056 16.9682 62.2732 19.1939 58.4935C21.6295 54.8309 24.167 51.2328 26.8064 47.6991C29.6427 44.3056 32.5738 40.9877 35.5996 37.7454C38.8068 34.6649 42.1004 31.6705 45.4804 28.762C49.0239 26.0352 52.6443 23.4039 56.3415 20.868C60.1822 18.5318 64.0893 16.2993 68.0626 14.1708C72.1574 12.2574 76.307 10.4552 80.5116 8.76405C84.8137 7.30137 89.1586 5.95573 93.546 4.72714C98.0059 3.73761 102.496 2.86974 107.015 2.12353C111.58 1.62418 116.162 1.24967 120.761 1C125.378 1.00209 129.998 1.13072 134.62 1.3859C139.234 1.89473 143.836 2.53029 148.427 3.29259C152.982 4.30739 157.511 5.44757 162.015 6.71314C166.455 8.22699 170.856 9.86333 175.218 11.6222C179.488 13.622 183.706 15.74 187.872 17.9761C191.919 20.4429 195.902 23.022 199.819 25.7133C203.592 28.6222 207.289 31.636 210.907 34.7548C214.359 38.0752 217.722 41.492 220.995 45.005C224.08 48.7012 227.065 52.4838 229.951 56.3528C232.627 60.384 235.195 64.4906 237.654 68.6727C239.887 72.9937 242.002 77.3781 244 81.8259"
  );
  offset-distance: var(--progress-percentage, 0);
  z-index: 3;
}

.playeur {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.lecteur {
  display: flex;
}
